* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

i,
svg {
	pointer-events: none;
}

h1 {
	width: 30px;
}

.kick-pad,
.snare-pad,
.hihat-pad {
	width: 5rem;
	height: 5rem;
	margin: 1rem 0.5rem;
	cursor: pointer;
}

.kick-pad {
	background: #e32fff;
}

.snare-pad {
	background: #a1f1a2;
}

.hihat-pad {
	background: #f3232f;
}

.kick-pad.active {
	background: #b008ca;
}

.snare-pad.active {
	background: #5ed660;
}

.hihat-pad.active {
	background: #a0030a;
}

.kick-track,
.snare-track,
.hihat-track {
	display: flex;
	width: 70%;
	align-items: center;
	justify-content: space-between;
	margin-top: 5rem;
}

.sequencer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.kick,
.snare,
.hihat {
	display: flex;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	margin: 0rem 2rem;
}

.controls button {
	padding: 1rem;
	border: none;
	background: lightgrey;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

.pad {
	transition: all 0.5s ease;
}

.play {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background: grey;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 3rem;
}

select {
	padding: 1rem;
	margin-left: 1rem;
	font-size: 1rem;
	width: 30%;
}

.mute.active {
	background: rgb(238, 231, 231);
}

@keyframes playTrack {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
